<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnSkipped="true"
         displayDetailsOnSkippedTests="true"
         executionOrder="random"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="packages">
            <directory>packages/*/tests</directory>
            <!-- vendored PSR-7 conformance base classes (support code, not a test suite) -->
            <exclude>packages/http/tests/Psr7</exclude>
        </testsuite>
    </testsuites>
    <php>
        <!-- factories the vendored PSR-7 conformance suite builds its inputs from -->
        <const name="URI_FACTORY" value="PHPdot\Http\Factory\ResponseFactory"/>
        <const name="STREAM_FACTORY" value="PHPdot\Http\Factory\ResponseFactory"/>
        <const name="UPLOADED_FILE_FACTORY" value="PHPdot\Http\Factory\ResponseFactory"/>

        <!-- integration suites default to the docker-compose stack; real env vars win -->
        <env name="MYSQL_PORT" value="3307"/>
        <env name="REDIS_PORT" value="6380"/>
        <env name="RABBITMQ_PORT" value="5673"/>
        <env name="MONGO_PORT" value="27018"/>
        <env name="BUN_LIVE" value="1"/>
        <env name="AWS_ACCESS_KEY_ID" value="phpdot"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="phpdot-secret"/>
        <env name="AWS_DEFAULT_REGION" value="us-east-1"/>
        <env name="PHPDOT_S3_TEST_BUCKET" value="phpdot-test"/>
        <env name="PHPDOT_S3_TEST_ENDPOINT" value="http://127.0.0.1:9002"/>
        <env name="PHPDOT_S3_TEST_PATH_STYLE" value="1"/>
    </php>
    <source>
        <include>
            <directory>packages/*/src</directory>
        </include>
    </source>
</phpunit>
